.header{
    background: linear-gradient(270deg, #933EFF 34.66%, rgba(147, 62, 255, 0.72) 90.94%);
    padding: .5rem;
    text-align: right;
    &__text{
        color: white;
        font-weight: 500;
    }
}
/* .content__box{
    .content__text{
        
    }
} */




