//## Colors

//### Primary

$moderateCyan:#933EFF;
$gradient: linear-gradient(270deg, #933EFF 34.66%, rgba(147, 62, 255, 0.72) 90.94%);

//### Neutral

$black: hsl(0, 0%, 0%);
$darkGray: #3D3D3D;
$darklight: hsl(0, 0%, 82%);
$light: #8E8E8E;


//font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; //18px
$font-normal: 1rem; //16px
$font-lg:1.25rem;
$font-xlg:3.25rem;